.csvg {
  position: relative;
}

.csvg.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.csvg.fullscreen .csvg-background {
  height: 100%;
  background-size: contain;
  background-color: #444;
}

.csvg-background {
  width: 100%;
  position: relative;
}

.csvg-background svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.csvg-background svg {
  height: 100%;
}

.csvg-countdown {
  bottom: 0;
  margin: auto;
}

.csvg-countdown {
  position: absolute;
  top: 0;
  left: 0;
  height: 366px;
  width: 100%;
  text-align: center;
  color: #fff;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.csvg-digit {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: center;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 4px;
}

.csvg-digit-number {
  font-size: 107px;
  padding: 3px 29px;
  background: #38414a;
  background: rgba(40, 50, 61, .62);
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.csvg-digit[data-tad-bind=seconds] .csvg-digit-number {
  color: #e55182;
}

.csvg-digit-label {
  padding: 5px;
  font-size: 23px;
  text-align: left;
  text-transform: uppercase;
}

.csvg-title {
  font-size: 70px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  border: none;
  font-weight: 400;
}

.font-hand {
  font-family: Shadows Into Light Two, cursive;
}

@media only screen and (max-width:64em) {
  .csvg-countdown {
    height: 209px;
  }

  .csvg-title {
    font-size: 40px;
  }

  .csvg-digit-number {
    font-size: 50px;
  }

  .csvg-digit-label {
    font-size: 12px;
  }
}

@media only screen and (max-width:37.438em) {
  .csvg {
    padding-top: 40px;
  }

  h1.csvg-title {
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 2;
    padding-left: 56px;
    width: 100%;
    pointer-events: none;
    text-align: left;
    margin: 0;
  }

  .csvg-countdown {
    transform: none;
    color: #fff;
    position: static;
    height: 100px;
    z-index: 1;
  }

  .csvg-digit {
    width: 25%;
    margin: 0;
  }

  .csvg-digit-number {
    font-size: 12vw;
    padding: 3px 4px;
    background: rgba(40, 50, 61, .8);
  }

  .csvg-digit-label {
    font-size: 12px;
    text-align: center;
    color: #000;
  }

  .csvg.fullscreen {
    background: #444;
  }

  .csvg.fullscreen .csvg-background {
    position: relative;
    bottom: auto;
    height: auto;
  }

  .csvg.fullscreen .csvg-digit-label {
    color: #fff;
  }
}